@{
    ViewData["Title"] = "Потвърждаване";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-4">Потвърждаване</h1>
            <p class="lead">Билетът беше запазен успешно!</p>
            <p>
                Благодарим, че използвахте нашата услуга!
            </p>
            <p>
                <a class="btn btn-primary btn-lg" href="/" role="button">Начална страница</a>
            </p>
        </div>
    </div>
</div>
