@model List<WebApp.Areas.Identity.Data.ApplicationUser>

@{
    ViewData["Title"] = "Администратори";
}

<h1>Администратори</h1>

<table class="table">
    <thead>
        <tr>
            <th>Първо Име</th>
            <th>Фамилия</th>
            <th>Електронна Поща</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var admin in Model)
        {
            <tr>
                <td>@admin.FirstName</td>
                <td>@admin.LastName</td>
                <td>@admin.Email</td>
            </tr>
        }
    </tbody>
</table>
