@model IEnumerable<WebApp.Models.Bus>
@{
    ViewData["Title"] = "Автобуси";
    ViewData["TransportCompanyId"] = ViewBag.TransportCompanyId;
}

<h1>Автобуси</h1>

<p>
    <a asp-action="CreateBus" asp-route-transportCompanyId="@ViewData["TransportCompanyId"]" class="btn btn-primary">Добави автобус</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Име
            </th>
            <th>
                Брой места
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SeatsNumber)
                </td>
            </tr>
        }
    </tbody>
</table>    