@model WebApp.ViewModels.CreateDestinationViewModel

@{
    ViewData["Title"] = "Автобусна компания";
}

<h1>Автобусна компания</h1>

<form asp-action="RedirectToCreateWithCompanyId">
    <div class="form-group">
        <label asp-for="SelectedCompanyId">Transport Company</label>
        <select asp-for="SelectedCompanyId" asp-items="Model.Companies" class="form-control">
            <option value="">-- Автобуна компания --</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Избери</button>
</form>
