@{
    ViewData["Title"] = "Home Page";
}

<div class="homecontainer">
    <h1 class="title">Welcome</h1>
    <div class="card text-center">
        <p>@ViewData["Message"]</p>
        @if (User?.Identity?.IsAuthenticated == true)
        {
            <a class="btn btn-primary" asp-action="BookTicket" asp-controller="Ticket">Резервиране</a>
        }
        else
        {
            <a class="btn btn-primary" id="register" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
        }
    </div>
</div>